body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding: 24px;
    margin-bottom: 48px;
    color:#F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin-right: 24px;
}

button{
    max-width: 175px;
    max-height: 75px;
    padding: 10px;
    font-size: 18px;
    background-color: darkblue;
    color: #F9FAF8;
    border: 5px solid darkblue;
    border-radius: 20px;
}

.dark_container{
    background-color: #1F2937;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px;
    padding: 48px;
    margin-bottom: 100px;
}

.pitch_headline {
    font-size: 48px;
    color: #F9FAF8;
    text-align: start;
}

.pitch {
    max-width: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 16px;
    color:#F9FAF8;
    font-size: 18px;
}

.container_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burning_dollars {
    display: flex;
    margin-left: 48px;
    opacity: 0.75;
    border: 5px solid #F9FAF8;
    border-radius: 10px;
}

.steps {
    display: flex;
    gap: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}

figcaption{
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 200px;
}

.step_one, .step_two, .step_three {

}
